apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ./../polkadot-private-node-base

# Adds namespace to all resources.
namespace: ${kubernetes_namespace}

imageTags:
  - name: polkadot-private-node
    newName: gcr.io/${project}/polkadot-private-node
    newTag: ${kubernetes_namespace}-latest
  - name: polkadot-archive-downloader
    newName: gcr.io/${project}/polkadot-archive-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: polkadot-node-key-configurator
    newName: gcr.io/${project}/polkadot-node-key-configurator
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: polkadot-configmap
  literals:
      - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
      - ARCHIVE_URL="${snapshot_url}"
      - CHAIN="${chain}"
      - DATABASE="${database}"

patchesStrategicMerge:
- prefixedpvnode.yaml
- nodepool.yaml
