apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${kubernetes_namespace}

namePrefix: ${kubernetes_name_prefix}-

bases:
- ./polkadot-private-node
- ./polkadot-snapshot-engine
