apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${KUBERNETES_NAMESPACE}

namePrefix: ${KUBERNETES_NAME_PREFIX}-

nameSuffix: "-${BLOCK_HEIGHT}"

imageTags:
  - name: polkadot-snapshotter
    newName: gcr.io/${PROJECT}/polkadot-snapshotter
    newTag: ${KUBERNETES_NAMESPACE}-latest
  - name: snapshot-uploader
    newName: gcr.io/${PROJECT}/snapshot-uploader
    newTag: ${KUBERNETES_NAMESPACE}-latest
  - name: website-builder
    newName: gcr.io/${PROJECT}/website-builder
    newTag: ${KUBERNETES_NAMESPACE}-latest

resources:
  - polkadotSnapshotter.yaml

configMapGenerator:
- name: polkadot-snapshotter-configmap
  literals:
  - BLOCK_HASH="${BLOCK_HASH}"
  - BLOCK_HEIGHT="${BLOCK_HEIGHT}"
  - POLKADOT_SOFTWARE_VERSION="${POLKADOT_SOFTWARE_VERSION}"
  - FIREBASE_TOKEN="${FIREBASE_TOKEN}"
  - FIREBASE_SUBDOMAIN="${FIREBASE_SUBDOMAIN}"
  - FIREBASE_PROJECT="${FIREBASE_PROJECT}"
  - WEBSITE_BUCKET_URL="${WEBSITE_BUCKET_URL}"
  - DATA_BUCKET_URL="${DATA_BUCKET_URL}"
  - DATA_BUCKET_PUBLIC_URL="${DATA_BUCKET_PUBLIC_URL}"
  - AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}"
  - AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}"
  - AWS_DEFAULT_REGION="auto"
  - CHAIN="${CHAIN}"
  - DATABASE="${DATABASE}"

patchesStrategicMerge:
- nodepool.yaml
