bases:
- ./../polkadot-snapshot-engine-base

imageTags:
  - name: polkadot-snapshot-engine
    newName: gcr.io/${project}/polkadot-snapshot-engine
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: polkadot-snapshot-engine-configmap
  literals:
  - FIREBASE_PROJECT="${firebase_project}"
  - FIREBASE_SUBDOMAIN="${firebase_subdomain}"
  - FIREBASE_TOKEN="${firebase_token}"
  - WEBSITE_BUCKET_URL="${website_bucket_url}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - KUBERNETES_NAMESPACE="${kubernetes_namespace}"
  - KUBERNETES_POOL_NAME="${kubernetes_pool_name}"
  - DATA_BUCKET_URL="${data_bucket_url}"
  - DATA_BUCKET_PUBLIC_URL="${data_bucket_public_url}"
  - AWS_ACCESS_KEY_ID="${aws_access_key_id}"
  - AWS_SECRET_ACCESS_KEY="${aws_secret_access_key}"
  - PROJECT="${project}"
  - CHAIN="${chain}"
  - DATABASE="${database}"
  - NODE_STORAGE_SIZE="${node_storage_size}"

patchesStrategicMerge:
- nodepool.yaml
- crontime.yaml
- serviceaccountannotate.yaml
